/**
 * Typography
 * =================================
    - White Regular
 *  - White Bold
 *  - White Inktrap Bold
 */

@font-face {
  font-family: 'White regular';
  src: local('White regular'),
       url('@/assets/fonts/whyte-regular.static.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'White bold';
  src: local('White bold'),
       url('@/assets/fonts/whyte-bold.static.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'White inktrap bold';
  src: local('White inktrap bold'),
       url('@/assets/fonts/whyte-inktrap-bold.static.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}