/**
 * Variables
 * =================================
 * - Typography
 * - Colors
 *    - Brand
 *    - Background
 *    - Neutral
      - Accent
 */

// COLORS

// Brand
$color-yellow: #ffc700;
$color-red: #f24e1e;
$color-green: #0fa958;
$color-purple: #c7b9ff;
// Neutral
$color-dark: #000;
$color-light: #fff;
